$ff-base: Poppins, sans-serif;
$ff-heading: Poppins, sans-serif;

// Font size
$fs-base: 14px;
$fs-h1: 2rem; //Headline 1 32px
$fs-h2: 1.25rem; //Headline 2 20px
$fs-h3: 1rem; //Headline 3 16px
$fs-h4: 0.875rem; //Headline 4 14px
$fs-h5: 0.75rem; //Headline 5 12px
$fs-default: 1rem; //interface: default text, input
$fs-milli: 0.875rem; //interface: label, ....
$fs-micro: 0.75rem; //interface: helperText, listcaption,..
$fs-input: 1.5rem;
$fs-icon: 2.5rem;

// Font Weight
$fw-base: 400;
$fw-bold: 700;
