@import "../setup/fonts.scss";
@import "../globals/typography.scss";
@import "../globals/colors.scss";

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	padding: 0;
	margin: 0;
	height: 100vh;
	line-height: 1.6;
	color: $clr-misc-white;
	font-family: $ff-base;
	font-size: $fs-base;
	background: transparent linear-gradient(180deg, #4a95f1 0%, #5c37db 100%) 0% 0% no-repeat padding-box;
}

h1 {
	margin: 0;
	font-size: $fs-h1;
}

h2 {
	margin: 0;
	font-size: $fs-h2;
}

h3 {
	margin: 0;
	font-size: $fs-h3;
}

h5 {
	margin: 0;
	font-size: $fs-h5;
	font-weight: 500;
}

h6 {
	font-size: $fs-base;
	margin: 0;
	text-transform: uppercase;
}

@media only screen and (max-width: 600px) {
	body {
		height: 120vh;
	}
	h1 {
		font-size: $fs-default;
	}
	h2 {
		font-size: $fs-default;
	}
	h3 {
		font-size: $fs-default;
	}
}
